version: '2'
services:
  fortyseven:
    build: .
    ports:
    - "9229:9229"
    environment:
      NODE_ENV: development
      REDIS_HOST_OVERRIDE: redis
    volumes:
    - ./scripts:/opt/scripts
    - ./bin:/opt/bin
    - ./process.env:/opt/process.env
    stdin_open: true
    tty: true
    links:
    - redis
  redis:
    image: redis:3.2-alpine
    ports:
    - "6379:6379"
